@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat|Nunito&display=swap');

* {
    background: #f1d4d4;
}

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
}

#contingut {
    display: inline;
}

nav {
    background: #484c7f;
    border-radius: 5px;
    color: #f1d4d4;
    float: left;
    font-family: 'Montserrat', sans-serif;
    margin: 1em;
    top: 5px;      
}

nav a {    
    background: transparent;
    border: solid 2px white;
    color: #f1d4d4;
    display: block;
    padding: 10px;
    margin: 5px;
}

nav a:link {
    text-decoration: none;
}

nav a:active {
    color: #b599c2;
}

/******* INDEX *******/

#informacio {
    background: #f7eaea;
    border-radius: 10px;
    float: left;
    margin: 10px;
    position: relative;  
    width: 1200px;
}

#informacio p, h4, ul {
    background: transparent;
    padding: 10px 50px;
    text-align: justify;
}

#informacio li {
    background: transparent;
}

h1 {
    color: #484c7f;
    margin: 10px;
    font-family: 'Nunito', sans-serif;
    font-size: 3em;
    font-weight: 800;
    text-align: center;
}

h3 {
    color: #2c2f4e;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-align: center;
}

footer {
    background: transparent;
    color: #715a7a;
    position: absolute;
    bottom: 5px;
    text-align: center;
    width: 100%;
}

/******* INDEX *******/

/*****  CANVAS  *****/

#paint {
    background: white;
    border: solid 2px black;
    float: left;
    height: 500px;
    margin: 10px;
    position: relative;
    width: 900px;
}

#paint canvas {
    background: transparent;
    cursor: crosshair/*url(img/icon-pincell.png), auto*/;
    left: 0;
    position: absolute;
    top: 0;
}

#aplicacio button {
    top: 15px;
    width: 80px;
}

#opcions-eines {
    background: #f7eaea;
    border: solid 1px black;
    border-radius: 10px;
    float: left;
    margin: 10px;
    padding: 5px;
}

#opcions-eines img, button {
    display: block;
}

#opcions-eina-actual {
    background: #f7eaea;
    border: solid 1px black;
    border-radius: 10px;
    float: left;
    margin: 10px;
    padding: 5px;
    width: 180px;    
}

#opcions-eina-actual span {
    background: transparent;
}

#mida-pincell {
    margin: 5px;
}

.icon {
    background: transparent;
    border: 1px solid white;
    border-radius: 5px;
}

.icon:hover {
    border: 2px solid black;
}

.icon:active {
    border: 3px solid white;
}

#eina-text {
    position: absolute;
    border: 1px dashed black;
    outline: 0;
    display: none;
    font: 10px 'Lato';
    overflow: hidden;
    white-space: nowrap;
}

/*****  CANVAS  *****/