@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat|Nunito&display=swap');

* {
    background: #f1d4d4;
}

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
}

#contingut {
    display: inline;
}

nav {
    background: #484c7f;
    border-radius: 5px;
    color: #f1d4d4;
    float: left;
    font-family: 'Montserrat', sans-serif;
    margin: 1em;
    top: 5px;      
}

nav a {    
    background: transparent;
    border: solid 2px white;
    color: #f1d4d4;
    display: block;
    padding: 10px;
    margin: 5px;
}

nav a:link {
    text-decoration: none;
}

nav a:active {
    color: #b599c2;
}

/******* INDEX *******/

#informacio {
    background: #f7eaea;
    border-radius: 10px;
    float: left;
    margin: 10px;
    position: relative;  
    width: 1200px;
}

#informacio p {
    background: transparent;
    padding: 10px;
    text-align: justify;
}

h1 {
    color: #484c7f;
    margin: 10px;
    font-family: 'Nunito', sans-serif;
    font-size: 3em;
    font-weight: 800;
    text-align: center;
}

h3 {
    color: #2c2f4e;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-align: center;
}

footer {
    background: transparent;
    color: #715a7a;
    position: absolute;
    bottom: 5px;
    text-align: center;
    width: 100%;
}

/******* INDEX *******/

/*****  CANVAS  *****/

#paint {
    background: white;
    border: solid 2px black;
    float: left;
    height: 500px;
    margin: 10px;
    position: relative;
    width: 900px;
}

#paint canvas {
    background: transparent;
    cursor: crosshair;
    left: 0;
    position: absolute;
    top: 0;
}

#aplicacio button {
    top: 15px;
    width: 80px;
}

#opcions-eines {
    border: solid 1px black;
    float: left;
    margin: 10px;
    width: 164px;
}

/*****  CANVAS  *****/